/* Estilos generales para el proyecto */
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

a {
    color: #28a745;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
